# Text files
*.cs        text diff=csharp
*.csproj    text
*.slnx      text
*.sln       text
*.xml       text
*.json      text
*.md        text
*.txt       text
*.yaml      text
*.yml       text
*.resx      text
*.iss       text

# Windows-specific scripts (CRLF)
*.bat       text eol=crlf
*.cmd       text eol=crlf
*.ps1       text eol=crlf

# Unix scripts (LF)
*.sh        text eol=lf

# Binary
*.ico       binary
*.png       binary
*.exe       binary
*.dll       binary
