## .NET
bin/
obj/
publish/

## Build output
Build/ScreenNap/
Build/Installer/
Build/publish_temp*/

## IDE
.vs/
*.user
*.suo
*.userprefs
*.sln.docstates

## Rider
.idea/

## VS Code
.vscode/

## Project internal
Archive/

## OS
Thumbs.db
Desktop.ini
.DS_Store
